.profile__info {
    padding-left: 30px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 24px;
    row-gap: 16px;
    column-gap: 18px;
    align-self: center;
    max-width: 70%;
}

@media screen and (max-width: 768px) {
    .profile__info {
        padding: 26px 0 0 30px;
        row-gap: 8px;
        column-gap: 10px;
    }
}

@media screen and (max-width: 480px) {
    .profile__info {
        padding: 26px 0 0 30px;
        row-gap: 8px;
        column-gap: 10px;
        max-width: 100%;
    }
}