.footer {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 60px;
    color: #545454;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 879px) {
    .footer {
        max-width: calc(100% - 19px*2);
        padding-top: 48px;
        padding-bottom: 36px;
    }
}