.profile__update-button {
    background-image: url(../../../images/edit_avatar_Button.svg);
    margin: 0;
    padding: 0;
    border: 0;
    height: 120px;
    width: 120px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__update-button:hover {
    opacity: 1;
    z-index: 500;
}