.header__link-in {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    color: #fff;
    max-width: 114px;
    align-self: center;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.header__link-in:hover {
    opacity: 0.6;
}

@media screen and (max-width: 879px) {
    .header__link-in {
        padding-right: 30px;
    }
}

@media screen and (max-width: 360px) {
    .header__link-in {
        font-size: 14px;
        line-height: 16.94px;
    }
}